KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/tty/tty.o \
$(ARCHDIR)/gdt/gdt_flush.o \
$(ARCHDIR)/gdt/gdt.o \
$(ARCHDIR)/interrupts/isr/isr_stubs.o \
$(ARCHDIR)/interrupts/isr/isr.o \
$(ARCHDIR)/interrupts/pic/pic.o \
$(ARCHDIR)/interrupts/idt/idt.o \
$(ARCHDIR)/interrupts/interrupts.o \
$(ARCHDIR)/interrupts/pit/pit.o \
$(ARCHDIR)/interrupts/pit/timer.o \
$(ARCHDIR)/paging/paging.o \
$(ARCHDIR)/paging/paging_utils.o \
$(ARCHDIR)/paging/memory_manager.o \
